{% extends _layout %}

{% block def_title data.agentId %}

{% block frag_content %}  
  {{ render(endpoints.resourcepool_cpi|bosh_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(endpoints.templates|bosh_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(endpoints.networkALL|bosh_web_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
  <dl>
    <dt>Agent</dt>
    <dd>{{ data.agentId }}</dd>

    <dt>CID</dt>
    <dd>{{ data.cid }}</dd>

    <dt>Resource Pool</dt>
    <dd>{{ data.applySpecJsonAsArray.resource_pool.name }}</dd>

    <dt>Stemcell</dt>
    <dd><a href="{{ path('bosh_core_stemcell_summary', { 'stemcell' : data.applySpecJsonAsArray.resource_pool.stemcell.name, 'version' : data.applySpecJsonAsArray.resource_pool.stemcell.version }) }}">{{ data.applySpecJsonAsArray.resource_pool.stemcell.name }}<span class="text-muted">/{{ data.applySpecJsonAsArray.resource_pool.stemcell.version }}</span></a></dd>
  </dl>

  <ul class="list-unstyled">
    <li><a href="{{ endpoints.instance|default }}"><small class="text-muted" style="margin-right:3px;"><span class="glyphicon glyphicon-share-alt"></span></small>Instance</a></li>
  </ul>

  {% include 'BoshWebBundle:Common:referencelinks.html.twig' with { 'references' : references, 'divider' : true } only %}
{% endblock %}
