{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title data.applySpecJsonAsArray.job.name|default('unknown') ~ '/' ~ data.applySpecJsonAsArray.index|default('unknown') %}

{% block frag_content %}  
  {{ render(endpoints.templates|bosh_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(endpoints.networkALL|bosh_web_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
  <dl>
    <dt>Agent</dt>
    <dd>{{ data.agentId }}</dd>

    <dt>CID</dt>
    <dd>{{ data.cid }}</dd>

    <dt>Stemcell</dt>
    <dd><a href="{{ path('bosh_core_stemcell_summary', { 'stemcell' : data.applySpecJsonAsArray.resource_pool.stemcell.name, 'version' : data.applySpecJsonAsArray.resource_pool.stemcell.version }) }}">{{ data.applySpecJsonAsArray.resource_pool.stemcell.name }}<span class="text-muted">/{{ data.applySpecJsonAsArray.resource_pool.stemcell.version }}</span></a></dd>
  </dl>

  {% include 'BoshWebBundle:Common:referencelinks.html.twig' with { 'references' : references, 'divider' : true } only %}
{% endblock %}
