{% extends _layout %}

{% block def_title 'Review Changes' %}

{% block frag_container %}
    {% if changeset.oldRef == 'live' %}
        <div class="bg-primary" style="margin:-16px 0 16px;padding:7px 16px 8px 16px;">
            <div class="pull-right">

                &nbsp;
                <form action="{{ path('veneer_core_storage_apply_index', { 'ref' : ref }) }}" method="post" style="display:inline;"><button class="btn btn-secondary" type="submit">Apply Changes</button></form>
            </div>
            <div style="padding:6px 0;">
                The following changes are ready to be applied.
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block frag_content %}
    {% for change in mapped_changes %}
        <div class="card">
            {% if change.status == 'created' %}
                <div class="card-header alert-success">
                    <i class="fa fa-plus-square fa-fw"></i>
            {% elseif change.status == 'deleted' %}
                <div class="card-header alert-danger">
                    <i class="fa fa-minus-square fa-fw"></i>
            {% else %}
                <div class="card-header alert-info">
                    <i class="fa fa-minus-square fa-fw"></i>
            {% endif %}
                    {{ change.path }}
                </div>

            <div class="card-block">
                {% if change.plan|default %}
                    {% include change.plan.view with { 'plan': change.plan.data } only %}
                {% else %}
                    manual review
                {% endif %}
            </div>

            {#{% if change.app|default %}
                <div class="card-footer text-muted">
                    via <a href="{{ path(change.app.appRoute, { 'path' : change.path }) }}">{{ change.app.appTitle }}</a>
                </div>
            {% endif %}#}
        </div>
    {% endfor %}
{% endblock %}

{% block frag_sidebar %}
    <div class="list-group">
        Comparing <code>{{ changeset.newRef }}</code> to <code>{{ changeset.oldRef }}</code>.
    </div>
{% endblock %}
