{% extends _layout %}

{% block def_title veneer_bosh_director_name %}

{% block frag_content %}
    <p>
        Welcome &mdash; you are currently logged in as <strong>{{ app.security.token.username }}</strong>.
        Please go somewhere more useful&hellip;
    </p>

    <ul>
        {% for bundle in veneer_bosh_plugin_factory.bundles %}
            <li>
                {% if bundle.veneerRoute %}
                    <a href="{{ path(bundle.veneerRoute) }}">{{ bundle.veneerTitle }}</a>
                {% else %}
                    {{ bundle.veneerTitle }}
                {% endif %}
                {% if bundle.veneerDescription %}
                    &mdash;
                    {{ bundle.veneerDescription }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        A frontend to centrally manage and monitor your BOSH-centric environment.
    </p>
{% endblock %}
