<!DOCTYPE html>
<html>
  <head>
    <title>{% block html_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% stylesheets '@VeneerWebBundle/Resources/private/css/custom.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script>var _postload=[]</script>
  </head>

  <body>
    {% block html_body %}
      <nav class="navbar navbar-default">
          <div class="navbar-header">
              <ul class="nav navbar-nav">
                    {% for nav in def_nav|default([]) %}
                        {% if loop.last or nav.options.expanded|default %}
                            <li><a href="{{ nav.url }}">{% if nav.options.glyphicon %}<span class="glyphicon glyphicon-{{ nav.options.glyphicon }}" aria-hidden="true"></span> {% endif %}{{ nav.title }}</a></li>
                        {% elseif nav.options.glyphicon %}
                            <li><a href="{{ nav.url }}" title="{{ nav.title }}"><span class="glyphicon glyphicon-{{ nav.options.glyphicon }}" aria-hidden="true"></span></a></li>
                        {% endif %}
                    {% endfor %}
              </ul>
          </div>
            {#
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ path('veneer_web_summary') }}"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></a></li>
            </ul>
            #}
            {% if 1 < _user_links_primary|length or (0 < _user_links_primary|length and _user_links_primary[block('primary_link')] is not defined) %}
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  {% for name, link in _user_links_primary %}
                    <li{% if block('primary_link') == name %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
      </nav>

      <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>{{ block('def_title') }}</h1>
                </div>
            </div>

            <div class="row">
                {% block frag_container %}

                      <div class="col-sm-3">
                        {% block frag_sidebar %}{% endblock %}
                      </div>

                      <div class="col-sm-9">
                        {% block frag_content %}{% endblock %}
                      </div>

                {% endblock %}

            </div>

          <div class="row">
              <div class="col-12 text-center text-muted" style="padding:18px 0 6px;">
                  <small>
                      <a class="text-muted" href="{{ path('veneer_bosh_summary') }}">bosh</a>
                      &middot;
                      <a class="text-muted" href="#">aws-cpi</a>
                      &middot;
                      <a class="text-muted" href="#">logsearch</a>
                      &middot;
                      <a class="text-muted" href="#">cloque</a>
                  </small>
                  <br />
                  <small>
                      <a class="text-muted" href="https://github.com/dpb587/veneer-release">veneer</a>
                      &ndash;
                      created by <a class="text-muted" href="http://dpb587.me/">danny berger</a>
                  </small>
              </div>
          </div>

      </div>
    {% endblock %}

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% javascripts '@highcharts' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if block('javascripts') %}<script>_postload.push(function () { {{ block('javascripts') }} });</script>{% endif %}
    <script>_postload.forEach(function (a){a.apply(window)})</script>
  </body>
</html>
