{% extends _layout %}

{% block def_title 'Tasks' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-right">Task</th>
        <th>Username</th>
        <th>Description</th>
        <th class="text-center">State</th>
        <th class="text-right">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td class="text-right"><a href="{{ path('bosh_core_task_summary', { 'task' : result.id, '_format' : 'html' }) }}">{{ result.id }}</a></td>
          <td>{{ result.username }}</td>
          <td>{{ result.description }}</td>
          <td class="text-center">{{ result.state }}</td>
          <td class="text-right">{{ result.timestamp|date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        The basic unit of work performed by the Director. You can get the status and logs for any task. You can monitor
        the task throughout its lifecycle, which progresses through states like started, running, done, and error.
        &mdash; <a href="http://bosh.io/docs/terminology.html#director-task">bosh.io</a>
    </p>
{% endblock %}
