{% extends _layout %}

{% block def_title 'Repository' %}

{% block frag_content %}
    <table class="table">
        <tbody>
            {% for object in children %}
                <tr>
                    <td>
                        {% if object.objectType == constant('Veneer\\CoreBundle\\Service\\Storage\\Object\\AbstractObject::OBJECT_TYPE_DIR') %}
                            <a href="{{ path('veneer_core_storage_tree_index', { 'ref' : ref, 'path' : object.path }) }}">
                                <i class="fa fa-folder fa-fw"></i>
                                {{ object.basename }}
                            </a>
                        {% else %}
                            <a href="{{ path('veneer_core_storage_blob_index', { 'ref' : ref, 'path' : object.path }) }}">
                                <i class="fa fa-file fa-fw"></i>
                                {{ object.basename }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if object.app|default %}
                            <a href="{{ path(object.app.appRoute, { 'path' : path ~ '/' ~ object.name }) }}">{{ object.app.appTitle }}</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block frag_sidebar %}
    <div class="list-group">
        n/a
    </div>
{% endblock %}
