{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title 'Load Average' %}

{% block frag_content %}  
    <div id="highcharts-{{ _uuid }}" style="height:180px;"></div>
{% endblock %}

{% block javascripts %}
    $('#highcharts-{{ _uuid }}').highcharts({
        chart: {
            spacingBottom: 4,
            spacingLeft: 4,
            spacingRight: 4,
            spacingTop: 4,
            type: 'areaspline'
        },
        credits: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                animation: false,
                marker: {
                    radius: 2,
                    symbol: 'circle'
                }
            }
        },
        series: [
            {
                color: '#439755',
                data: {{ series.short|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Short',
                zIndex: 3
            },
            {
                color: '#958B43',
                data: {{ series.mid|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Mid',
                zIndex: 2
            },
            {
                color: '#8E262C',
                data: {{ series.long|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Long',
                zIndex: 1
            }
        ],
        title: {
            text: null
        },
        tooltip: {
            shared: true
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: null
            }
        }
    });
{% endblock %}
