{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title 'Virtual Machines' %}
  
{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Agent</th>
        <th>Instance</th>
        <th>IP</th>
        <th>CID</th>
      </tr>
    </thead>
    <tbody>
      {% for result in data.results %}
        <tr>
          <td><a href="{{ path('bosh_core_deployment_vm_index', { 'deployment' : context.deployment.name, 'agent': result.agentId, '_format' : 'html' }) }}"><span title="{{ result.agentId }}">{{ result.agentId[0:8] }}</span></a></td>
          <td><a href="{{ path('bosh_core_deployment_instance_index', { 'deployment' : context.deployment.name, 'job_name' : result.applySpecJsonAsArray.job.name, 'job_index' : result.applySpecJsonAsArray.index }) }}">{{ result.applySpecJsonAsArray.job.name }}/{{ result.applySpecJsonAsArray.index }}</a></td>
          <td>
            {% for network_name, network in result.applySpecJsonAsArray.networks %}
              <span class="text-warning" title="{{ network_name }}">{{ network.ip }}</span><br />
            {% endfor %}
          </td>
          <td>{{ result.cid }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
