{% extends _layout %}

{% block def_title 'Deployment Editor (' ~ manifest.name|default('unknown') ~ ')' %}

{% block frag_sidebar %}
    <ul class="nav">
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_summary', { 'path' : path }), 'Summary', 'info', 'summary', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'releases', 'path' : path }), 'Releases', 'leaf', 'releases', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'networks', 'path' : path }), 'Networks', 'exchange', 'networks', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'resourcepools', 'path' : path }), 'Resource Pools', 'cubes', 'resourcepools', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'diskpools', 'path' : path }), 'Disk Pools', 'database', 'diskpools', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'jobs', 'path' : path }), 'Jobs', 'server', 'jobs', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_section', { 'section' : 'properties', 'path' : path }), 'Properties', 'cogs', 'properties', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_edit', { 'path' : path, 'property' : 'compilation' }), 'Compilation', 'cog', 'compilation', sidenav_active) }}
        {{ _self.navlink(path('veneer_ops_workspace_deploymenteditor_edit', { 'path' : path, 'property' : 'update' }), 'Update', 'cog', 'update', sidenav_active) }}
    </ul>

    <hr />

    <div><small><a class="text-muted" href="{{ path('veneer_core_workspace_repo_blob', { 'path' : path }) }}"><i class="fa fa-code"></i> {{ path }}</a></small></div>
{% endblock %}

{% macro navlink(path, title, fontawesome, name, active) %}
    <li class="nav-item">
        {% if name == active %}
            <i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}
        {% else %}
            <a href="{{ path }}" class="nav-link"><i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}</a>
        {% endif %}
    </li>
{% endmacro %}
