<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block html_title %}{% if block('def_title') %}{{ block('def_title') }} ~ {% endif %}{{ veneer_bosh_director_name }}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% stylesheets '@bootstrap_css' %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script>var _postload=[]</script>
  </head>

  <body>
        {% block html_body %}
            <nav class="navbar navbar-light bg-faded">
                <a class="navbar-brand" href="{{ path('veneer_core_summary') }}">{{ veneer_bosh_director_name }}</a>
                <ul class="nav navbar-nav">
                    {% for bundle in veneer_bosh_plugin_factory.bundles if bundle.veneerRoute %}
                        <li class="nav-item{% if bundle.veneerRoute == def_nav[1].route[0]|default %} active{% endif %}">
                            <a class="nav-link" href="{{ path(bundle.veneerRoute) }}">{{ bundle.veneerName }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <form class="form-inline navbar-form pull-right">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </nav>

            <div style="border-bottom:#E8E8E8 solid 1px;margin-bottom:16px;padding:10px 12px 9px;">
                {% block content_nav %}
                    {% for nav in def_nav|default([])[2:] %}
                        {% if loop.first and loop.length > 1 %}
                            <a href="{{ nav.url }}" title="{{ nav.title }}" style="color:#999999;">&nbsp;<i class="fa fa-{{ nav.options.fontawesome|default('angle-double-right') }}"></i>&nbsp;</a>
                        {% else %}
                            {% if loop.index0 %}
                                <span style="color:#CFCFCF;">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            {% endif %}
                            {% if loop.first %}&nbsp;{% endif %}{#
                            #}<a href="{{ nav.url }}" style="color:inherit;">{% if nav.options.fontawesome|default %}<i class="fa fa-{{ nav.options.fontawesome }}" title="{{ nav.title }}"></i>{% endif %}{% if nav.options.fontawesome|default and (loop.last or nav.options.expanded|default(false)) %} {% endif %}{% if not nav.options.fontawesome|default or loop.last or nav.options.expanded|default(false) %}{{ nav.title }}{% endif %}</a>
                        {% endif %}
                    {% else %}
                        &nbsp;{{ block('def_title') }}
                    {% endfor %}
                {% endblock %}
            </div>

            {% block frag_container %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            {% block frag_sidebar %}{% endblock %}
                        </div>

                        <div class="col-sm-12 col-md-9">
                            {% block frag_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            <footer class="text-center" style="margin-top:2rem;padding-bottom:4px;">
                <small class="text-muted">
                    <a class="text-muted" href="{{ path('veneer_bosh_summary') }}" title="Director"><i class="fa fa-university"></i> {{ veneer_bosh_director_name }}</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        &nbsp;&middot;&nbsp;
                        <a class="text-muted" href="{{ path('veneer_core_summary') }}" title="User"><i class="fa fa-user"></i> {{ app.security.token.user.username }}</a>
                    {% endif %}
                    &nbsp;&mdash;&nbsp;
                    <a class="text-muted" href="{{ path('veneer_core_about') }}" title="Managing with"><i class="fa fa-trophy"></i> veneer ({{ veneer_core_build_tag }}{% if veneer_core_build_tag_commit != veneer_core_build_commit %}+dev.{{ veneer_core_build_commit }}{% elseif veneer_core_build_dirty %}+dev{% endif %}{{ veneer_core_build_dirty ? '.dirty' : '' }})</a>
                    &nbsp;&middot;&nbsp;
                    <a class="text-muted" href="https://dpb587.me/" target="_blank" title="Created by"><i class="fa fa-hand-peace-o"></i> dpb587</a>
                </small>
            </footer>
        {% endblock %}

        {% javascripts '@jquery_js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
        {% javascripts '@bootstrap_js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
        {% javascripts '@highcharts_js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"></script>

        {% if block('javascripts') %}<script>_postload.push(function () { {{ block('javascripts') }} });</script>{% endif %}
        <script>_postload.forEach(function(a){a.apply(window);});_postload=[];</script>
    </body>
</html>
