<div class="card" data-href="{{ app.request.uri }}">
    <div class="card-header">
        <div class="pull-right">
            <a class="text-muted" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params', {})|merge(app.request.query.all)|merge({ '_frag' : null })) }}"><i class="fa fa-link fa-fw"></i></a>
            <a class="text-muted" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params', {})|merge(app.request.query.all)|merge({ '_frag' : null })|merge({ '_format' : 'json' })) }}"><i class="fa fa-bolt fa-fw"></i></a>
        </div>
        {{ block('def_title') }}
    </div>
    <div class="card-block">
        {{ block('frag_' ~ _frag) }}
    </div>
</div>
{% if block('javascripts') %}<script>_postload.push(function () { {{ block('javascripts') }} });</script>{% endif %}
