<div>
  <div>
    <div class="right">
      <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params', {})|merge({ '_format' : 'json' })) }}"><span class="fa fa-bolt"></span></a>
    </div>
    <h4><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ block('def_title') }}</a></h4>
  </div>
  <div>
    {{ block('frag_' ~ _frag) }}
  </div>
</div>
{% if block('javascripts') %}<script>_postload.push(function () { {{ block('javascripts') }} });</script>{% endif %}
