{% extends _layout %}

{% block def_title _veneer_bosh_context.release.name ~ '/' ~ _veneer_bosh_context.version.version %}

{% block frag_content %}  
  {{ render(_links.widget.templates.url|veneer_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(_links.widget.packages.url|veneer_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(_links.widget.deployments.url|veneer_web_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
  <dl>
    <dt>Commit Hash</dt>
    <dd>{{ data.commitHash }}</dd>
    
    <dt>Uncommitted Changes</dt>
    <dd>{{ data.uncommittedChanges ? 'Yes' : 'No' }}</dd>
  </dl>

  <ul class="list-unstyled">
    <li><a href="{{ _links.widget.properties.url }}"><small class="text-muted" style="margin-right:3px;"><span class="glyphicon glyphicon-pencil"></span></small>Properties</a></li>
  </ul>
{% endblock %}
