{% extends _layout %}

{% block def_title 'Cloud Config Editor' %}

{% block frag_container %}
    {% if draft_profile.draft_started %}
        <div class="bg-primary" style="margin:-16px 0 16px;padding:7px 16px 8px 16px;">
            <div class="pull-right">

                &nbsp;
                <a class="btn btn-secondary" href="{{ path('veneer_core_storage_review_index', { 'ref' : _veneer_bosh_context.app.profile.ref_write }) }}">Review Changes</a>
            </div>
            <div style="padding:6px 0;">
                Some changes have not yet been applied.
                Last changed on {{ draft_profile.draft_last_date|date('M jS \\a\\t g:i a') }}
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block frag_sidebar %}
    <ul class="nav">
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_summary', { 'file' : _veneer_bosh_context.app.file.path }), 'Summary', 'info', 'summary', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_section', { 'section' : 'azs', 'file' : _veneer_bosh_context.app.file.path }), 'Availability Zones', 'building', 'azs', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_section', { 'section' : 'networks', 'file' : _veneer_bosh_context.app.file.path }), 'Networks', 'exchange', 'networks', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_section', { 'section' : 'vm-types', 'file' : _veneer_bosh_context.app.file.path }), 'VM Types', 'cubes', 'vm-types', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_section', { 'section' : 'vm-extensions', 'file' : _veneer_bosh_context.app.file.path }), 'VM Extensions', 'puzzle-piece', 'vm-extensions', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_section', { 'section' : 'disk-types', 'file' : _veneer_bosh_context.app.file.path }), 'Disk Types', 'database', 'disk-types', sidenav_active) }}
        {{ _self.navlink(path('veneer_bosh_editor_app_cloudconfig_edit', { 'file' : _veneer_bosh_context.app.file.path, 'path' : '/compilation' }), 'Compilation', 'wrench', 'compilation', sidenav_active) }}
    </ul>

    <hr />

    <ul class="list-unstyled">
        <li><small><a class="text-muted" href="{{ path('veneer_core_storage_blob_index', { 'ref' : draft_profile.ref_read, 'path' : _veneer_bosh_context.app.file.path }) }}"><i class="fa fa-code fa-fw"></i> {{ _veneer_bosh_context.app.file.path }}</a></small></li>
    </ul>
{% endblock %}

{% macro navlink(path, title, fontawesome, name, active) %}
    <li class="nav-item">
        {% if name == active %}
            <i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}
        {% else %}
            <a href="{{ path }}" class="nav-link"><i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}</a>
        {% endif %}
    </li>
{% endmacro %}
