{% extends 'VeneerBoshEditorBundle:WorkspaceAppDeployment:layout.html.twig' %}

{% block frag_content %}
    <table class="table table-hover" width="100%">
        <thead>
            <tr>
                <th style="border-top:0;">
                    <h3 style="margin-bottom:0;">Instance Groups</h3>
                </th>
                <th class="text-right" style="border-top:0;">
                    <a class="btn btn-success-outline btn-sm" href="{{ path('veneer_bosh_editor_workspace_app_deployment_edit', { 'path' : path, 'property' : 'instance_groups[]' }) }}" title="Add" type="button"><i class="fa fa-plus fa-fw"></i></a>
                </th>
            </tr>
        </thead>
        {% if manifest.instance_groups|default %}
            <tbody>
                {% for instance_group in manifest.instance_groups %}
                    <tr>
                        <td>
                            <strong>{{ instance_group.name }}</strong>, &times;{{ instance_group.instances }}<br />
                            <small>{{ instance_group.vm_type }} with {{ instance_group.networks|length }} network{{ 1 < instance_group.networks|length ? 's' : '' }}, {{ instance_group.jobs|length }} job{{ 1 < instance_group.jobs|length ? 's' : '' }}</small>
                        </td>
                        <td class="text-right">
                            <div class="btn-group" role="group" aria-label="Actions">
                                <a class="btn btn-primary-outline btn-sm" href="{{ path('veneer_bosh_editor_workspace_app_deployment_edit', { 'path' : path, 'property' : 'instance_groups[' ~ instance_group.name ~ ']' }) }}" title="Change" type="button"><i class="fa fa-pencil fa-fw"></i></a>
                                <a class="btn btn-primary-outline btn-sm" href="{{ path('veneer_bosh_editor_workspace_app_deployment_section', { 'section' : 'properties', 'path' : path, 'instance_group': instance_group.name }) }}" title="Change Properties" type="button"><i class="fa fa-cogs fa-fw"></i></a>
                                <a class="btn btn-danger-outline btn-sm" title="Remove" type="button"><i class="fa fa-remove fa-fw"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot>
                <tr>
                    <td colspan="2">
                        <p>
                            No instance groups configured &mdash; <a href="{{ path('veneer_bosh_editor_workspace_app_deployment_edit', { 'path' : path, 'property' : 'instance_groups[]' }) }}">add one&hellip;</a>
                        </p>
                        <p class="text-muted">
                            <span class="text-primary"><i class="fa fa-question-circle"></i></span>
                            Specifies the mapping between BOSH release jobs and cloud instances. Jobs are defined in the
                            BOSH release. The Jobs block defines how BOSH associates jobs with the VMs started by the
                            IaaS.
                        </p>
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock %}
