{% extends _layout %}

{% block def_title 'BOSH Director' %}

{% block frag_content %}
    <div class="list-group">
        <a class="list-group-item" href="{{ path('veneer_bosh_deploymentALL_index') }}">
            <i class="fa fa-sitemap fa-fw"></i>
            deployments &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_releaseALL_index') }}">
            <i class="fa fa-leaf fa-fw"></i>
            releases &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_stemcellALL_index') }}">
            <i class="fa fa-archive fa-fw"></i>
            stemcells &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_taskALL_index') }}">
            <i class="fa fa-check-square-o fa-fw"></i>
            tasks &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_eventALL_index') }}">
            <i class="fa fa-tasks fa-fw"></i>
            events &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_cloudconfig_summary') }}">
            <i class="fa fa-cloud fa-fw"></i>
            cloud-config &raquo;
        </a>
        <a class="list-group-item" href="{{ path('veneer_bosh_runtimeconfig_index') }}">
            <i class="fa fa-cubes fa-fw"></i>
            runtime-config &raquo;
        </a>
    </div>
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        The main BOSH component that coordinates the Agents and responds to user requests and system events. The
        Director is the orchestrator of deployments.
        &mdash; <a href="http://bosh.io/docs/terminology.html#director">bosh.io</a>
    </p>

    <hr />

    <dl>
        <dt>Name</dt>
        <dd>{{ data.name }}</dd>
    
        <dt>UUID</dt>
        <dd>{{ data.attributes.uuid }}</dd>
    </dl>
{% endblock %}
