{% extends _layout %}

{% block def_title 'Events' %}

{% block frag_content %}
    <meta name="task-state" content="{{ _veneer_bosh_context.task.state }}" />

    {% if not tracker_state and not tracker_errors %}
        <p class="text-muted">
            {% if _veneer_bosh_context.task.state in [ 'queued', 'started', 'processing' ] %}
                <i class="fa fa-circle-o-notch fa-spin"></i>
            {% endif %}
            No event detail available
        </p>
    {% else %}
        <table class="table">
            <tbody>
                {% for stage in tracker_state %}
                    {% if 'unknown' != stage.name %}
                        <tr>
                            <td class="text-center" width="4" style="padding-right:0;">
                                {% if 'finished' == stage.state %}
                                    <span class="fa fa-fw fa-check text-success"></span>
                                {% elseif 'failed' == stage.state %}
                                    <span class="fa fa-fw fa-times text-danger"></span>
                                {% else %}
                                    <span class="fa fa-fw fa-circle-o-notch fa-spin"></span>
                                {% endif %}
                            </td>
                            <td>
                                <strong{% if  'finished' == stage.state %} data-stage-toggle="{{ stage.id }}"{% endif %}>
                                    {{ stage.name }}
                                    {% if 'finished' == stage.state %}
                                        &nbsp; <a class="text-muted" href="#"><i class="fa fa-plus-square-o"></i></a>
                                    {% endif %}
                                </strong>
                            </td>
                            <td class="text-right" width="20%">
                                {% if stage.time_end %}
                                    <span title="started {{ stage.time_begin|date('g:i a') }}">{{ stage.time_end - stage.time_begin }}s</span>
                                {% else %}
                                    <span class="text-muted">started {{ stage.time_begin|date('g:i a') }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% for task_idx, task in stage.tasks %}
                        <tr id="{{ stage.id }}-{{ task_idx }}" {% if 'failed' == task.state %} class="danger"{% elseif 'finished' != task.state %} class="warning"{% endif %}{% if 'unknown' != stage.name and 'finished' == stage.state %} style="display:none;"{% endif %} data-stage-toggle="{{ stage.id }}">
                            <td class="text-center" width="4" style="padding-right:0;">
                                {% if 'finished' == task.state %}
                                    <span class="fa fa-check text-success"></span>
                                {% elseif 'failed' == task.state %}
                                    <span class="fa fa-times text-danger"></span>
                                {% else %}
                                    <span class="fa fa-circle-o-notch fa-spin"></span>
                                {% endif %}
                            </td>
                            {% if 'unknown' != stage.name %}
                                <td>{{ task.name }}</td>
                            {% else %}
                                <td><strong>{{ task.name }}</strong></td>
                            {% endif %}
                            <td class="text-right" width="20%">
                                {% if task.time_end %}
                                    <span title="started {{ task.time_begin|date('g:i a') }}">{{ task.time_end - task.time_begin }}s</span>
                                {% elseif task.progress is defined %}
                                    <span title="started {{ task.time_begin|date('g:i a') }}"><progress class="progress progress-striped progress-animated" value="{{ task.progress }}" max="100" style="margin:6px 0;">{{ task.progress }}%</progress></span>
                                {% else %}
                                    <span class="text-muted">&mdash;</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        {% for error in tracker_errors %}
            <div>
                <div style="padding-left:6px;padding-right:6px;">
                    <div class="pull-right">{{ error.time|date('c') }}</div>
                    <strong>Error {{ error.error.code }}</strong>
                </div>
                <pre>{{ error.error.message }}</pre>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    function toggle(strong) {
        var strong = $(strong);
        var i = $('i.fa', strong)[0];
        var display = 'none';

        if (i.className == 'fa fa-plus-square-o') {
            i.className = 'fa fa-minus-square-o';
            display = null;
        } else {
            i.className = 'fa fa-plus-square-o';
        }

        $('tr[data-stage-toggle="' + strong.attr('data-stage-toggle') + '"]').each(function () {
            this.style.display = display;
        });
    }

    $('strong[data-stage-toggle]').bind('click', function (e) {
        toggle($(this));
    });
{% endblock %}
