{% extends _layout %}

{% block def_title '#' ~ _veneer_bosh_context.task.id %}

{% block frag_container %}
    {% if data.state in [ 'queued', 'started', 'processing' ] and continue|default %}
        <div class="bg-warning" style="margin:-16px 0 16px;padding:7px 16px 8px 16px;">
            <div style="padding:6px 0;">
                You will be redirected once this task completes successfully.
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block frag_content %}
    <div id="widget-events">{{ render(_links.widget.events.url|veneer_core_appendqs({ '_frag' : 'content', 'step' : 0 })) }}</div>
{% endblock %}

{% block frag_sidebar %}
    <dl>
        <dt>State</dt>
        <dd>{{ data.state|capitalize }}</dd>

        <dt>Description</dt>
        <dd>{{ data.description }}</dd>

        <dt>Username</dt>
        <dd>{{ data.username }}</dd>

        <dt>Timestamp</dt>
        <dd>{{ data.timestamp|date('c') }}</dd>
    </dl>

    {% include 'VeneerCoreBundle:Common:referencelinks.html.twig' with { '_links' : _links, 'divider' : true } only %}
{% endblock %}

{% block javascripts %}
    {% if data.state in [ 'queued', 'started', 'processing' ] %}
        var events = $('#widget-events');
        var continueUrl = {{ continue|json_encode|raw }};

        function reload() {
            events.load(
                {{ _links.widget.events.url|veneer_core_appendqs({ '_frag' : 'content' })|json_encode|raw }},
                function (response, status, xhr) {
                    var state = $('meta[name = "task-state"]', events).attr('content');

                    if (-1 == [ 'errored', 'done' ].indexOf(state)) {
                        setTimeout(reload, 5000);
                    } else if ('done' == state) {
                        if (continueUrl) {
                            self.location = continueUrl;
                        }
                    }
                }
            );
        }

        setTimeout(reload, 2000);
    {% endif %}
{% endblock %}
