{% extends _layout %}

{% block def_title 'Virtual Machines' %}
  
{% block frag_content %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Job</th>
                <th>CID</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><a href="{{ path('veneer_bosh_deployment_vm_summary', { 'deployment' : _veneer_bosh_context.deployment.name, 'agent': result.agentId, '_format' : 'html' }) }}">{{ result.agentId }}</a></td>
                    <td><a href="{{ path('veneer_bosh_deployment_instancegroup_instance_summary', { 'deployment' : _veneer_bosh_context.deployment.name, 'job_name' : result.applySpecJsonAsArray.job.name, 'job_index' : result.applySpecJsonAsArray.index }) }}">{{ result.applySpecJsonAsArray.job.name }}<span class="text-muted">/{{ result.applySpecJsonAsArray.index }}</span></a></td>
                    <td>{{ result.cid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
