{% extends _layout %}

{% block def_title 'Deployment Editor (' ~ manifest.name|default('unknown') ~ ')' %}

{% block frag_container %}
    {% if draft_profile.draft_started %}
        <div class="bg-primary" style="margin:-16px 0 16px;padding:7px 16px 8px 16px;">
            <div class="pull-right">

                &nbsp;
                <a class="btn btn-secondary" href="{{ path('veneer_core_storage_review_index', { 'ref' : _veneer_bosh_context.app.profile.ref_write }) }}">Review</a>
            </div>
            <div style="padding:6px 0;">
                Some changes have not yet been applied.
                Last changed on {{ draft_profile.draft_last_date|date('M jS \\a\\t g:i a') }}
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block frag_sidebar %}
    <ul class="nav">
        <li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_summary', { 'file' : _veneer_bosh_context.app.file.path }), 'Summary', 'info', 'summary', sidenav_active) }}</li>
        <li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'releases', 'file' : _veneer_bosh_context.app.file.path }), 'Releases', 'leaf', 'releases', sidenav_active) }}</li>
        {#<li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'networks', 'file' : _veneer_bosh_context.app.file.path }), 'Networks', 'exchange', 'networks', sidenav_active) }}</li>#}
        {#<li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'resourcepools', 'file' : _veneer_bosh_context.app.file.path }), 'Resource Pools', 'cubes', 'resourcepools', sidenav_active) }}</li>#}
        {#<li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'diskpools', 'file' : _veneer_bosh_context.app.file.path }), 'Disk Pools', 'database', 'disk-pools', sidenav_active) }}</li>#}
        <li class="nav-item">
            {{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'instance-groups', 'file' : _veneer_bosh_context.app.file.path }), 'Instance Groups', 'cubes', 'instance-groups', sidenav_active) }}
            {% if manifest.instance_groups|default([])|length > 0 %}
                <ul class="nav" style="margin-left:24px;">
                    {% for instance_group in manifest.instance_groups %}
                        {{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'instance-group', 'file' : _veneer_bosh_context.app.file.path, 'path' : '/instance_groups/name=' ~ instance_group.name }), instance_group.name, 'cube', instance_group.name ~ '-instance-group', sidenav_active) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        <li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_section', { 'section' : 'properties', 'file' : _veneer_bosh_context.app.file.path }), 'Properties', 'cogs', 'properties', sidenav_active) }}</li>
        {#<li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_edit', { 'file' : _veneer_bosh_context.app.file.path, 'path' : '/compilation' }), 'Compilation', 'wrench', 'compilation', sidenav_active) }}</li>#}
        <li class="nav-item">{{ _self.navlink(path('veneer_bosh_editor_app_deployment_edit', { 'file' : _veneer_bosh_context.app.file.path, 'path' : '/update' }), 'Update', 'cog', 'update', sidenav_active) }}</li>
    </ul>

    <hr />

    <ul class="list-unstyled">
        <li><small><a class="text-muted" href="{{ path('veneer_core_storage_blob_index', { 'ref' : draft_profile.ref_read, 'path' : _veneer_bosh_context.app.file.path }) }}"><i class="fa fa-code fa-fw"></i> {{ _veneer_bosh_context.app.file.path }}</a></small></li>
    </ul>
{% endblock %}

{% macro navlink(path, title, fontawesome, name, active, close) %}
    {% if name == active %}
        <i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}
    {% else %}
        <a href="{{ path }}" class="nav-link"><i class="fa fa-{{ fontawesome }} fa-fw"></i> {{ title }}</a>
    {% endif %}
{% endmacro %}
