{% extends 'VeneerBoshEditorBundle:AppDeployment:layout.html.twig' %}

{% macro property_tree(file, path, schema, manifest) %}
    <table class="table" style="margin-bottom:0;">
        <tbody>
            {% for key, node in schema.properties %}
                {% if node.type|default == 'object' %}
                    <tr class="table-active">
                        <td width="16" style="padding-right:0.2rem;"><i class="fa fa-plus fa-fw"></i></td>
                        <td colspan="2" style="padding-left:0.2rem;"><strong>{{ key }}</strong></td>
                    </tr>
                    <tr>
                        <td width="16" style="border-top:0;padding:0 0.2rem 0;">&nbsp;</td>
                        <td colspan="2" style="border-top:0;padding:0 0 0 0.2rem;">
                            {{ _self.property_tree(file, path ~ '/' ~ key, node, manifest[key]|default({})) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td width="16" style="padding-right:0.2rem;"><i class="fa fa-chevron-right fa-fw"></i></td>
                        <td style="padding-left:0.2rem;">
                            {{ key }}
                            {% if node.description|default %}
                                <br />
                                <small class="text-muted">{{ node.description }}</small>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% set url = path('veneer_bosh_editor_app_deployment_edit', { 'file' : file, 'path' : (path ~ '/' ~ key) }) %}
                            {% if manifest[key] is defined %}
                                <a class="btn btn-primary-outline btn-sm" href="{{ url }}"><i class="fa fa-pencil fa-fw"></i></a>
                            {% elseif node.default is defined %}
                                <a class="btn btn-success-outline btn-sm" href="{{ url }}"><i class="fa fa-plus fa-fw"></i></a>
                            {% else %}
                                <a class="btn btn-success-outline btn-sm" href="{{ url }}"><i class="fa fa-plus fa-fw"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block frag_content %}
    <h3>{{ title }}</h3>

    {{ _self.property_tree(_veneer_bosh_context.app.file.path, properties_path, properties_schema, properties_values) }}
{% endblock %}