{% extends 'BoshCoreBundle:Stemcell:layout.html.twig' %}

{% block def_title 'Stemcells' %}

{% block primary_nav %}
    <a href="{{ path('bosh_core_stemcellALL_index') }}"><span class="glyphicon glyphicon-compressed"></span> stemcells</a>
{% endblock %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Stemcell</th>
        <th>CID</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td><a href="{{ path('bosh_core_stemcell_summary', { 'stemcell' : result.name, 'version' : result.version }) }}">{{ result.name }}/{{ result.version }}</a></td>
          <td><code>{{ result.cid }}</code></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block frag_sidebar %}
  <ul class="list-unstyled">
    <li><a href="https://bosh.io/stemcells"><small class="text-muted" style="margin-right:3px;"><span class="glyphicon glyphicon-info-sign"></span></small>bosh.io/stemcells</a></li>
  </ul>
{% endblock %}
