{% if _links %}
    {% if divider|default %}
        <hr />
    {% endif %}

    <dl>
        {% for topic_name, topic in {
            'config': {
                title: 'Configuration',
                fontawesome: 'cog',
            },
            'resources': {
                title: 'Resources',
                fontawesome: 'hdd',
            },
            'performance': {
                title: 'Performance',
                fontawesome: 'dashboard',
            },
            'cpi': {
                title: 'CPI',
                fontawesome: 'cloud',
            },
            'documentation': {
                title: 'Documentation',
                fontawesome: 'pencil',
            },
            'other': {
                title: 'Useful Links',
                fontawesome: 'link',
            },
        } if _links[topic_name] is defined %}
            <dt><i class="fa fa-{{ topic.fontawesome }}"></i> {{ topic.title }}</dt>
            {% for link in _links[topic_name] %}
                <dd>
                    <a href="{{ link.url }}"{% if '://' in link.url %} target="_blank"{% endif %}>{{ link.title }}</a>
                    {% if link.note|default %}
                        <span class="text-muted">&ndash; {{ link.note }}</span>
                    {% endif %}
                </dd>
            {% endfor %}
        {% endfor %}
    </dl>
{% endif %}