{% if _links %}
    <div class="list-group">
        {% for topic_name, topic in {
            'config': {
                title: 'Configuration',
                fontawesome: 'cog',
            },
            'resources': {
                title: 'Resources',
                fontawesome: 'hdd',
            },
            'performance': {
                title: 'Performance',
                fontawesome: 'dashboard',
            },
            'cpi': {
                title: 'CPI',
                fontawesome: 'cloud',
            },
            'documentation': {
                title: 'Documentation',
                fontawesome: 'info-circle',
            },
            'other': {
                title: 'Useful Links',
                fontawesome: 'link',
            },
        } if _links[topic_name] is defined %}
            <strong>
                <i class="fa fa-{{ topic.fontawesome }} fa-fw"></i>
                {{ topic.title }}
            </strong>
            <ul class="list-unstyled">
                {% for link in _links[topic_name] %}
                    <li>
                        <a href="{{ link.url }}"{% if '://' in link.url %} target="_blank"{% endif %}>{{ link.title }}</a>
                        {% if link.note|default %}
                            <small class="text-muted">&ndash; {{ link.note }}</small>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}
