{% extends _layout %}

{% block def_title 'Memory Usage' %}

{% block frag_content %}  
    <div id="highcharts-{{ _uuid }}" style="height:180px;"></div>
{% endblock %}

{% block javascripts %}
    function bytesLabel(value) {
        var label = 'B';

        if (value >= 1024) {
            value /= 1024;
            label = 'KB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'MB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'GB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'TB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'PB';
        }

        return (Math.ceil(value * 10) / 10) + ' ' + label;
    }

    $('#highcharts-{{ _uuid }}').highcharts({
        chart: {
            spacingBottom: 4,
            spacingLeft: 4,
            spacingRight: 4,
            spacingTop: 4,
            type: 'areaspline'
        },
        credits: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                animation: false,
                marker: {
                    radius: 2,
                    symbol: 'circle'
                }
            }
        },
        series: [
            {
                color: '#CA272E',
                data: {{ series.used|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Used',
                stacking: 'normal'
            },
            {
                color: '#D67E41',
                data: {{ series.buffered|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Buffered',
                stacking: 'normal'
            },
            {
                color: '#958A48',
                data: {{ series.cached|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Cached',
                stacking: 'normal'
            },
            {
                color: '#439755',
                data: {{ series.free|json_encode|raw }},
                fillOpacity: 0.4,
                name: 'Free',
                stacking: 'normal'
            }
        ],
        title: {
            text: null
        },
        tooltip: {
            shared: true
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            labels: {
                formatter: function () {
                    return bytesLabel(Math.abs(this.value));
                }
            },
            title: {
                text: null
            }
        }
    });
{% endblock %}
