{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title data.job ~ '/' ~ data.index %}

{% block frag_content %}  
  {{ render(endpoints.loadstats|bosh_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(endpoints.memstats|bosh_web_appendqs({ '_frag' : 'content' })) }}
  {{ render(endpoints.diskstats|bosh_web_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
  <dl>
    <dt>State</dt>
    <dd>{{ data.state }}</dd>
    
    <dt>Resurrection Paused</dt>
    <dd>{{ data.resurrectionPaused ? 'Yes' : 'No' }}</dd>
  </dl>

  <ul class="list-unstyled">
    <li><a href="{{ endpoints.vm }}"><small class="text-muted" style="margin-right:3px;"><span class="glyphicon glyphicon-share-alt"></span></small>Virtual Machine</a></li>
  </ul>

  {% include 'BoshWebBundle:Common:referencelinks.html.twig' with { 'references' : references, 'divider' : true } only %}
{% endblock %}
