{% if references %}
    {% if divider|default %}
        <hr />
    {% endif %}

    <dl>
        {% for topic_name, topic in {
            'config': {
                title: 'Configuration',
                glyphicon: 'cog',
            },
            'resources': {
                title: 'Resources',
                glyphicon: 'hdd',
            },
            'performance': {
                title: 'Performance',
                glyphicon: 'dashboard',
            },
            'cpi': {
                title: 'CPI',
                glyphicon: 'cloud',
            },
            'documentation': {
                title: 'Documentation',
                glyphicon: 'pencil',
            },
            'other': {
                title: 'Miscellaneous',
                glyphicon: 'link',
            },
        } if references[topic_name] is defined %}
            <dt><span class="glyphicon glyphicon-{{ topic.glyphicon }}"></span> {{ topic.title }}</dt>
            {% for link in references[topic_name] %}
                <dd>
                    <a href="{{ link.url }}"{% if '://' in link.url %} target="_blank"{% endif %}>{{ link.title }}</a>
                    {% if link.note|default %}
                        <span class="text-muted">&ndash; {{ link.note }}</span>
                    {% endif %}
                </dd>
            {% endfor %}
        {% endfor %}
    </dl>
{% endif %}